<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<div>Name: <%= @name %></div>
<br>
<div>Subject: <%= @subject %></div>
<br>
<div>Reply to: <%= @email %></div>
<br>
<div>Message: </div>
<br>
<div><p><%= @message %></p></div>
<br>
</body>
</html>